.App {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 83px 1fr 1fr 100px;

  gap: 10px;

  padding: 8px;
  box-sizing: border-box;
}

.Header {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
}

.ProductList{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}

.sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.Footer {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}