.ProductCard {
    padding: 10px;
    /* border: 1px solid #000; */

    
    
}

.ingredient{
    text-align: center;
}

.cards{
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    overflow: scroll;
    padding: 5px;
}

.cards img{
    justify-content: center;
}
