.ProductCard {
    padding: 10px;
    /* border: 1px solid #000; */
    margin-bottom: 10px;
    display: inline-block;
}

.ingredient{
    text-align: center;
}

.cards{
    border: 1px solid #000;
}
.img{ 
    
}