.ProductCard {
    padding: 10px;
    /* border: 1px solid #000; */
    margin-bottom: 10px;
    display: flex;
}

.ingredient{
    text-align: center;
}

.cards{
    border: 1px solid #000;
    overflow: clip;
}
.img{ 
    
}